/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.login-form{
  margin-top: 50px
}


ul.collection span.title{
  font-weight: bold;
}


.lista-obreiros span.card-title{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 15px;
}

.lista-obreiros i.right {
  margin-left: 5px;
  position: absolute;
  right: 10px;
  bottom: 20px;
}

.lista-obreiros .card .card-content {
    padding: 8px 10px;
}
